<section>
  <h3><%= link_to product.name, product %></h3>
  <p>
    <strong>Price:</strong> <%= number_to_currency(product.price) %>
  </p>
  <% if product.image_filename %>
    <p><%= link_to (image_tag product.image_filename, :width => '150'), product %></p>
  <% end %>
  <div><%= product.description %></div>
  <% if product.category %>
    <p>Category: <%= product.category.name %></p>
  <% end %>
</section>